<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

<!-- chargement du jdbc.properutes -->
<context:property-placeholder location="jdbc.properties"/>
	<!-- Déclaration de le session factory -->
	
	<bean id="hiKariDataSource"
		class="com.zaxxer.hikari.HikariDataSource">
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClassName"
			value="${jdbc.driver}"></property>
	</bean>
	<bean id="repo"  class="be.bt.repository.CompteRepositoryImpl">
			<property name="factory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="hiKariDataSource"></property>
		<property name="annotatedClasses">
			<list>
				<value>be.bt.domain.Compte</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>

	</bean>
</beans>
